# Application settings.
# Set application url for correct navigation and callbacks.
# APP_KEY can be generated using: php artisan key:generate
APP_NAME=EveMapper
APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost:8080
APP_KEY=

# Database settings.
DB_CONNECTION=app
DB_APP=app.db

# Cache and Session settings.
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync
SESSION_LIFETIME=1440

# Mail settings.
MAIL_ADMIN=
MAIL_SENDER=
MAIL_MAILER=smtp
MAIL_DRIVER=smtp
MAIL_HOST=localhost
MAIL_PORT=25
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

# Google Recaptcha v3 keys.
# Leave empty if you don't need it.
RECAPTCHA_V3_SECRET_KEY=
RECAPTCHA_V3_SITE_KEY=

# Eve Online Developer ID and key.
# Required to use game's API functions.
# See https://developers.eveonline.com/
EVE_API_CLIENT_ID=
EVE_API_SECRET_KEY=
EVE_API_CALLBACK_URL=http://localhost:8080/callback
