/node_modules
/vendor
/public/hot
/public/build
/public/phpliteadmin.php
/public/phpliteadmin.config.php
/storage/*.key.env
.env.backup
.phpunit.result.cache
/*.log
/.idea
/.vscode
/.tmp-dev
/.dev
.env
/database/*.db
/storage/debugbar/*.json
_ide_helper.php
.eslintrc
.prettierrc
