/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
database/whident.db
public/phpliteadmin.php
public/phpliteadmin.config.php
database/whident.db
whident-428d795297d2.json
database/*_test.db
storage/debugbar/*.json
_ide_helper.php
/.tmp-dev