@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Noto Sans', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #040d14;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
    width: 100%;
    background-image: url('../img/bg.jpg');
    background-repeat: repeat-y;
    background-position: top;
}

.navbar {
    height: 60px;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    padding: .5rem;
    border-top: 1px solid gray;
}

.content-block {
    height: calc(100% - 100px);
}

.search-bar {
    height: 150px;
}

.locator {
    height: calc(100% - 150px);
}

.scrollable {
    overflow-y: auto;
    height: calc(100% - 4rem);
}

.logo {
    font-family: 'Orbitron';
    font-size: 30px;
}

.h-100 {
    height:100%;
}

.is-dark-1 {
    background-color: rgba(54, 54, 54, .5) !important;
}

.is-dark-2 {
    background-color: rgba(54, 54, 54, .8) !important;
}

.suggestions {
    max-height: 200px;
    overflow-y: auto;
    position: fixed;
    margin-top: .25rem;
    z-index: 999;
}

.suggestions>div:hover {
    background-color: #efefef;
    cursor: pointer;
}

.new-signature {
    background-color: rgb(60 80 60);
}